
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="" class="navbar-brand">logo here</a>
  <span class="navbar-text">TomSaab</span>
  <ul class="nav navbar-nav navbar-left">
     <li class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">
         <a routerLink="/home" class="nav-link">Home</a>
     </li>
     <li  class="nav-item">
          <a href="#" class="nav-link">Link 2</a>
      </li>  
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
  </li>
  <li class="nav-item">
      <a href="#" class="nav-link">Profile</a> 
  </li>
  <li> 
    <a href="#" class="nav-link">Blog</a></li>
  <li>
  <a href="#" class="nav-link">Login</a>
  </li>
  <li>
  <a href="#" class="nav-link">Logout</a>
  </li>
  <li>
      <a href="#" class="nav-link">Register</a>
  </li>
  </ul>
</nav>